<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Set character encoding to UTF-8  this is default -->
  
    
    <!-- Icon tab-->
    <link rel="icon" type="image/svg+xml" 
    href="data:image/svg+xml,<?xml version='1.0' ?><svg enable-background='new 0 0 32 32' version='1.1' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path d='M8,1C4.14,1,1,4.09,1,7.89c0,3.58,5.66,9.2,6.3,9.83C7.5,17.91,7.75,18,8,18s0.5-0.09,0.7-0.28c0.64-0.63,6.3-6.25,6.3-9.83C15,4.09,11.86,1,8,1z' fill='%233F51B5'/><path d='M10,7.89c0,1.11-0.9,2-2,2S6,9,6,7.89c0-1.1,0.9-2,2-2S10,6.79,10,7.89z' fill='%232197F3'/><path d='M30,19h-5V2c0-0.55-0.45-1-1-1h-6c-0.55,0-1,0.45-1,1v17H2c-0.55,0-1,0.45-1,1v6c0,0.55,0.45,1,1,1h15v3c0,0.55,0.45,1,1,1h6c0.55,0,1-0.45,1-1v-3h5c0.55,0,1-0.45,1-1v-6C31,19.45,30.55,19,30,19z' fill='%232197F3'/></svg>">

    <!-- Link to external CSS file located in the 'static/css' folder -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleFrontPage.css') }}">

    <!-- Our Page Title-->
    <title>Geocoding App with Autocomplete by Google</title>

    <!-- Load Google Maps JavaScript API with Places Library for Autocomplete feature -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places"></script>

    
    <script>
        // Function to initialize Google Places Autocomplete
        function initializeAutocomplete() {

            // Get the 'from' and 'to' input fields
            var fromInput = document.getElementById('from_address');
            var toInput = document.getElementById('to_address');

            // Apply Google Maps Places Autocomplete feature to both input field
            var fromAutocomplete = new google.maps.places.Autocomplete(fromInput);
            var toAutocomplete = new google.maps.places.Autocomplete(toInput);
        }
        // initialize Autocomplete function runs once the page fully load
        window.onload = initializeAutocomplete; 
    </script>

</head>
<body>
    <div class="title">
        <!-- Main title of the Webpage application -->
        <h1>GEOCODING + WEATHER CHECK</h1>
    </div>

    <div class="wrap">
         <!-- gettting the 'from' and 'to' addresses, sends data via POST "/geocode" in python app route -->
        <form action="/geocode" method="POST">

            <!-- "From" address input box-->
            <div class="input-box">
                <label for="from_address"><strong>FROM ADDRESS: </strong></label>
                <input type="text" id="from_address" name="from_address" required>
            </div>

            <!-- "to" address input box-->
            <div class="input-box">
                <label for="to_address"><strong>TO ADDRESS: </strong></label>
                <input type="text" id="to_address" name="to_address" required>
            </div>

            <!-- Button to execute geocoding and distance calculation -->
            <button type="submit">GET COORDINATES & CALCULATE DISTANCE</button>
        </form>
    </div>

</body>
</html>
