<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleMainPage.css') }}">
    <title>Geocoding Result</title>

     <!-- Load/Get the Google Maps JavaScript API -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places"></script>
</head>
<body>

    <!-- Display geocoding results -->
    <div class="infos">
        <h1>GEOCODING RESULT</h1>
    {% if from_location and to_location %}
        <div><strong>FROM: </strong>{{ from_location['formatted_address'] }}</div>
        <div><strong>TO: </strong> {{ to_location['formatted_address'] }}</div>
        <div><strong>LATITUDE: </strong> {{ from_location['latitude'] }}</div>
        <div><strong>LONGITUDE: </strong> {{ from_location['longitude'] }}</div>

         <!-- Display weather info for FROM location -->
        <h3>FROM LOCATION WEATHER:</h3>
        {% if from_weather %}
            <div><strong>TEMPERATURE: </strong>{{ from_weather['temperature'] }} °C</div>
            <div><strong>WEATHER: </strong>{{ from_weather['description'] }}</div>
            <div><strong>HUMIDITY: </strong>{{ from_weather['humidity'] }}%</div>
            <div><strong>WIND SPEED: </strong>{{ from_weather['wind_speed'] }} m/s</div>
        {% else %}
            <p>No weather data available for the from location.</p>
        {% endif %}

         <!-- Display weather info for TO location -->
        <h3>TO LOCATION WEATHER:</h3>
        {% if to_weather %}
            <div><strong>TEMPERATURE: </strong>{{ to_weather['temperature'] }} °C</div>
            <div><strong>WEATHER: </strong>{{ to_weather['description'] }}</div>
            <div><strong>HUMIDITY: </strong>{{ to_weather['humidity'] }}%</div>
            <div><strong>WIND SPEED: </strong>{{ to_weather['wind_speed'] }} m/s</div>
        {% else %}
            <p>No weather data available for the to location.</p>
        {% endif %}
        
        <br>
         <!-- Back button link to go back to search page -->
        <a href="/" class="back-link">Go back to Search </a>

    </div>

        <div id="map"></div>                 <!-- Map container -->
        <div id="directionsPanel"></div>     <!-- Directions panel for displaying the directions -->

        <script>
            // Parse latitude and longitude for the FROM and TO locations
            var fromLat = parseFloat("{{ from_location['latitude'] }}");
            var fromLng = parseFloat("{{ from_location['longitude'] }}");
            var toLat = parseFloat("{{ to_location['latitude'] }}");
            var toLng = parseFloat("{{ to_location['longitude'] }}");

            // Initialize the map, centering it between the two points
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: (fromLat + toLat) / 2, lng: (fromLng + toLng) / 2 },
                zoom: 6
            });

            // Initialize the Directions Service and Renderer
            var directionsService = new google.maps.DirectionsService();
            var directionsRenderer = new google.maps.DirectionsRenderer({
                // style for polyline
                polylineOptions: {
                    strokeColor: '#0b2ef4', 
                    strokeOpacity: 1.0,
                    strokeWeight: 4
                },
                panel: document.getElementById('directionsPanel')  // Set the panel for route directions
            });

            directionsRenderer.setMap(map); // attach the directionsRenderer to the map

            // Create a directions request for driving mode
            var request = {
                origin: { lat: fromLat, lng: fromLng },
                destination: { lat: toLat, lng: toLng },
                travelMode: google.maps.TravelMode.DRIVING  
            };

            // Send the directions request and handle the response
            directionsService.route(request, function(result, status) {
                if (status === google.maps.DirectionsStatus.OK) {
                    directionsRenderer.setDirections(result);

                    var leg = result.routes[0].legs[0]; // Get the route leg (from-to)
                    var distance = leg.distance.text;   // Get the distance
                    var duration = leg.duration.text;   // Get the duration

                    // Create an info window with distance and duration
                    var infoWindow = new google.maps.InfoWindow();
                    var firstStep = leg.steps[0];               // Get the first step of the rout
                    var midPoint = firstStep.start_location;    // Get the midpoint for infoWindow

                    infoWindow.setContent('Distance: ' + distance + '<br>Duration: ' + duration);
                    infoWindow.setPosition(midPoint);

                    var marker = new google.maps.Marker({
                        position: midPoint,
                        map: map
                    });

                    infoWindow.open(map, marker);   // Display the infoWindow on the marker
                    infoWindow.setOptions({ pixelOffset: new google.maps.Size(5, -5) });
                } else {
                    console.error('Directions request failed due to ' + status); // Error handling
                }
            });
        </script>
    {% else %}
        <p>Address not found or API error!</p>
    {% endif %}
</body>
</html>
