<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Geocoding App with Autocomplete by Google</title>
    <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places"></script>
    <script>
        function initializeAutocomplete() {
          
            var fromInput = document.getElementById('from_address');
            var toInput = document.getElementById('to_address');

            var fromAutocomplete = new google.maps.places.Autocomplete(fromInput);
            var toAutocomplete = new google.maps.places.Autocomplete(toInput);
        }
       
        window.onload = initializeAutocomplete;
    </script>
</head>
<body>
    <div class="title">
    <h1>GEOCODING + WEATHER CHECKs</h1>
    </div>
    <div class="wrap">
        <form action="/geocode" method="POST">
            <div class="input-box">
            <label for="from_address">FROM ADDRESS:</label>
            <input type="text" id="from_address" name="from_address" required>
            </div>
            <div class="input-box">
            <label for="to_address">TO ADDRESS:</label>
            <input type="text" id="to_address" name="to_address" required>
            </div>
            <button type="submit">Get Coordinates & Calculate Distance</button>
        </form>
    </div>
</body>
</html>
